.darkBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.203);
  z-index: -1;
}
.modal::-webkit-scrollbar {
  display: none;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  direction: rtl;
}
.modal {
  min-width: 30rem;
  width: 45vw;
  height: 82vh;
  min-width: 500px;
  background: white;
  overflow: auto;
  z-index: 10;
  border-radius: 16px;
  padding-bottom: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding: 15px 0px 20px 15px;
  color: black;
}

.hr {
  border-top: 0.5px solid rgb(239, 239, 239);
}
.xIcon {
  cursor: pointer;
}
.madorSoldiers {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.madorTitle {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.title {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 85%;
  border: none;
  text-align: right;
  font-size: 18px;
  outline: none;
  color: rgb(77, 77, 77);
  font-weight: bold;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid rgb(210, 210, 210);
}
.genderInput {
  display: flex;
  flex-direction: row;
  justify-content: right;
  direction: rtl;
  align-items: center;
  width: 85%;
  border: none;
  text-align: right;
  font-size: 18px;
  outline: none;
  color: rgb(77, 77, 77);
  margin: 10px;
  padding-bottom: 20px;
}
.genderTitle {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
}
.radio {
  margin-right: 15px;
}
.addBtnDisabled {
  width: 170px;
  height: 60px;
  border: 2px solid rgb(165, 162, 162);
  font-size: 19px;
  color: white;
  background-color: rgb(194, 192, 192);
  border-radius: 10px;
  margin-left: 2vw;
  cursor: not-allowed;
}
.addBtn {
  width: 170px;
  height: 60px;
  font-size: 19px;
  color: white;
  background-color: rgb(90, 124, 234);
  border-radius: 10px;
  margin-left: 2vw;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(70, 69, 69, 0.162);
}
.addBtn:hover {
  background-color: rgb(72, 96, 176);
}
.orderContainer {
  display: flex;
  flex-direction: row-reverse;
}
.orderBy {
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
  padding-right: 1rem;
  position: relative;
}

.options {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.295);
  z-index: 2;
  position: absolute;
  top: 50%;
  right: 100%;
}

.option {
  border-bottom: 1px solid rgb(225, 225, 225);
  text-align: right;
  padding-right: 10px;
  font-size: 18px;
  padding: 10px 10px 10px 40px;
  cursor: pointer;
  color: gray;
  width: 10rem;
}

.option:hover {
  background-color: rgb(233, 232, 232);
  color: black;
}

.selectedOption {
  color: black;
}

.soldiersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13vw;
  overflow: auto;
  min-height: 10rem;
}

.arrowsContainer {
  background: linear-gradient(
    to bottom,
    rgba(90, 4, 210, 1),
    rgba(90, 4, 210, 0.5)
  );
  padding: 5px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin-left: 20px;
}

.btnsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn {
  width: 150px;
  height: 50px;
  font-size: 17px;
  color: white;
  background-color: rgb(90, 124, 234);
  border-radius: 10px;
  margin: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(70, 69, 69, 0.162);
}
.btn:hover {
  background-color: rgb(72, 96, 176);
}
.deleteBtn {
  background-color: rgb(235, 47, 47);
}
.deleteBtn:hover {
  background-color: rgb(197, 39, 39);
}
.btnDisabled {
  margin: 10px;
  width: 150px;
  height: 50px;
  font-size: 17px;
  border: 2px solid rgb(165, 162, 162);
  color: white;
  background-color: rgb(194, 192, 192);
  border-radius: 10px;
  cursor: not-allowed;
}
