.forecastContainer{
    display: flex;
    flex-direction: row;
    direction: ltr;
    position: absolute;
    top: 54%;
    
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: center;
}
