.navBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #130f3c;
  position: sticky;
}
.navTitle {
    margin-left: 5%;
  font-size: 25px;
  color: #dbdbdb;
  font-weight: bold;
}

.logOut {
  cursor: pointer;
  font-size: 25px;
  color: #dbdbdb;
}
.username{
    color: #dbdbdb;
    width:8rem;
}
.loggedIn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
}
.navigationContainer{
    
    display: flex;
    flex-direction: row;
}
.link{
    margin: 10px;
    text-decoration: none;
    color: #dbdbdb;
    font-size: larger;
    cursor: pointer;
}
.link:hover{
    color: white;
}